/*
D0D6B5 light
C2CFB2 lg
628D53 grn
725E54 lighter
5B4834 dark
*/


body {
	background-color: #D0D6B5;
	color: #5B4834;
	font-family: "Courier New", monospace;
}

a {
	text-decoration: none;
	color: #628D53;
}

a:hover {
	color: red;
}

.main-container {
	width: 100vw;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.nav-main ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

.nav-main li {
	margin-bottom: 8px;
}

/* == about == */
#about-heading {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 10px;
	border-bottom: 2px dotted #628D53;
	margin-bottom: 40px;
}

#about-container {
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

#social-list {
	list-style: none;
	padding-left: 0;
	
}
#social-list  li {
	display: inline-block;
	margin: 8px 8px;
}

#social-prev {
	text-align: center;
	color: #628D53;
}


/* == gallery == */
#g-container h1 {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 10px;
	border-bottom: 2px dotted #628D53;
	margin-bottom: 40px;
}

#g-table-container p {
	text-align: center;
	color: #725E54;
	margin-bottom: 40px;
}
#g-table-container img {
	width: 90%;
}
td {
	text-align: center;
}