body {
    background-color: blue;
}

h1 {
    color: white;
    font-family: 'Lucida Console', sans-serif;
    font-size: 50px;
}

h2, p {
	font-family: 'Lucida Console', sans-serif; 
    color: white;
}

ul, li {
	font-family: 'Lucida Console', sans-serif;
	color: blue;
}

.boxed {
	background-color: white;
}